<!-- /sections/gff-hero-video.liquid -->
{{ 'gff-styling.css' | asset_url | stylesheet_tag }}
{{ 'gff-javascript.js' | asset_url | script_tag }}

{%- liquid
  assign sectionId = section.id
-%}

{%- comment -%}
    assign poster = section.settings.video.preview_image | default: section.settings.cover_image
{%- endcomment -%}

{%- style -%}
  [data-gff-section="{{ sectionId }}"] {
    --gff-content-height: {{ section.settings.height }}vh;
    --gff-mask-opacity: {{ section.settings.maskOpacity }};
  }
{%- endstyle -%}

<section
    data-gff-section="{{ sectionId }}"
    class="gff-section gff-hero-video color-{{ section.settings.color_scheme }} gradient"
>
    <div class="gff-hero-video-wrapper">
        {% unless section.settings.video == null %}
            {{
                section.settings.video
                | video_tag:
                    image_size: '1100x',
                    autoplay: true,
                    loop: true,
                    controls: true,
                    muted: true,
                    preload: 'none'
            }}
        {% endunless %}
        <div data-gff-section="{{ sectionId }}" class="gff-hero-video-content">
          {% for block in section.blocks %}
            {% case block.type %}
                {% when '@app' %}
                  <div data-gff-block="{{ block.id }}" class="gff-app-block {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    {% render block %}
                  </div>
            {% endcase %}
          {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "GFF | Hero Video",
  "class": "gff-hero-video",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "range",
      "id": "height",
      "min": 30,
      "max": 100,
      "step": 5,
      "label": "Height",
      "default": 50
    },
    {
      "type": "range",
      "id": "maskOpacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Mask Opacity",
      "default": 0.3
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "max_blocks": 10,
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "GFF | Hero Video",
      "category": "Text",
      "settings": {
        "height": 50,
        "maskOpacity": 0.3
      },
      "blocks": []
    }
  ]
}
{% endschema %}
